.landing {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    height: 60vh;
    width: 100vw - 20px;
    border-radius: 40px;
    margin: 20px;
    padding: 20px 50px;
}

.section_odd {
    background-color: pink;
}

.section_even {
    background-color: #e2afde;
}

/* Side Nav */
.side_nav {
    position: fixed;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 20;
}

.menu_button {
    height: 30px;
    width: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.side_nav li {
    margin: 5px 20px 5px 5px;
}

.hidden {
    display: none;
    border: none;
}

/* Section 1 Hover*/
#section1 {
    transition: transform 2s ease;
}

#section1:hover {
    transform: rotateY(180deg);
}

/* Section 2 Click */
@keyframes hop {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10%);
  }
  40% {
    transform: translateY(0);
  }
  55% {
    transform: translateY(-5%);
  }
  70% {
    transform: translateY(0);
  }
  85% {
    transform: translateY(-2.5%);
  }
  100% {
    transform: translateY(0);
  }
}

.hop {
  animation: hop 1s cubic-bezier(0.34, 1.56, 0.64, 1);
}

/* Smooth Scrolling */

html {
  scroll-behavior: smooth;
}
